Localization
{
	ja
	{
		// --- the mod ---

		#autoLOC_Pico_000 = ピコポート　ドッキングポートス

		// --- regular PicoPort docking ports ---

		#autoLOC_Pico_001 = ピコポート ベーシック
		#autoLOC_Pico_002 = 最近、とある玩具会社が単位系の取り間違いのためノベリティ冷蔵庫用マグネットの数々を捨てました。全く関係ないけど、Sphero-Hedron Engineering Dynamics が新型の超小型ドッキングポートを発売しました。
		
		#autoLOC_Pico_003 = ピコポート プラス
		#autoLOC_Pico_004 = 最近、とある玩具会社が単位系の取り間違いのためノベリティ冷蔵庫用マグネットの数々を捨てました。全く関係ないけど、Sphero-Hedron Engineering Dynamics が新型の超小型ドッキングポートを発売しました。 〔整列不要、無性型〕
		
		#autoLOC_Pico_005 = ピコポート 「メス」
		#autoLOC_Pico_006 = 最近、とある玩具会社が単位系の取り間違いのためノベリティ冷蔵庫用マグネットの数々を捨てました。全く関係ないけど、Sphero-Hedron Engineering Dynamics が新型の超小型ドッキングポートを発売しました。 〔整列不要、メスタイプ〕
		
		#autoLOC_Pico_007 = ピコポート 「オス」
		#autoLOC_Pico_008 = 最近、とある玩具会社が単位系の取り間違いのためノベリティ冷蔵庫用マグネットの数々を捨てました。全く関係ないけど、Sphero-Hedron Engineering Dynamics が新型の超小型ドッキングポートを発売しました。 〔整列不要、オスタイプ〕
	}
}
